# Configurações da API
PORT=8000
SECRET_KEY=sua_chave_secreta_super_segura_para_jwt
ENVIRONMENT=development

# Configurações do Banco de Dados (Docker-Compose Interno)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password_local
POSTGRES_DB=sistema_reservas
DATABASE_URL=postgresql://postgres:postgres_password_local@db:5432/sistema_reservas